.info-box > .col-2 {
    height: 200px;
    background-color: #f9f9f9;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 10px;
}

.info-box > .col-2:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.info-box > .col-2 > .legend {
    margin-top: 50px;
}

.infos {
    padding-left: 40px;
}