<div class="row info-box">
  <div class="col-2">
    <div class="legend">
      <h3 class="text-primary">Today Cost</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-dark">Today Sell</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-secondary">Total Sell</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-danger">Total Cost</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-warning">Food Stock</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-success">Entry Cost</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-info">Add Bill</h3>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-link">Employee <br> Advance</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-muted">Information Customer</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
  <div class="col-2">
    <div class="legend">
      <h3 class="text-primary">Bank Cost</h3>
      <h4 class="text-lead">4,200 Tk.</h4>
    </div>
  </div>
</div>